<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Data</title>
</head>
<body>
    <h1>Datos del alumno</h1>
    <p>NSS: <%= nss %></p>
    <p>Nombre: <%= nombre %></p>
    <p>Edad: <%= edad %></p>
    <p>Tipo de sangre: <%= tipoSangre %></p>
</body>
</html>